/* .link {
  display: inline-block;
  border: 1px solid gray;
  padding: 10px 20px;
  margin-bottom: 100px;
  margin-right: 50px;
  border-radius: 5px;
  transition: all 0.3s;
} */

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: white;
}
/* .active {
  color: brown;
  border-color: brown;
} */
.navigation {
  display: flex;
  gap: 50px;
}
